﻿@model RailwwayDB.Models.Routes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Routes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.route_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.route_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source_station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination_station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination_station)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.route_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
