﻿@model IEnumerable<RailwwayDB.Models.Routes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.route_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source_station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination_station)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.route_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.source_station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination_station)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.route_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.route_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.route_id })
        </td>
    </tr>
}

</table>
