﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RailwayDB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("RailwayDB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trains", "Index", "Trains", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Wagons", "Index", "Wagons", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Tickets", "Index", "Tickets", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("StationsInRoutes", "Index", "StationsInRoutes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Stations", "Index", "Stations", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Routes", "Index", "Routes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Payments", "Index", "Payments", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Passengers", "Index", "Passengers", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("PaymentTypeAnalytics", "PaymentTypeAnalytics", "PaymentTypeAnalytics", null, new { @class = "nav-link" })</li>

                </ul>
                
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RailwayDB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
