﻿@model RailwwayDB.Models.Tickets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seat_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seat_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticket_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passengers.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passengers.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payments.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payments.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trains.train_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticket_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
