﻿@model IEnumerable<RailwwayDB.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seat_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticket_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passengers.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payments.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.seat_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ticket_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passengers.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payments.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trains.train_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticket_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticket_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticket_id })
        </td>
    </tr>
}

</table>
