﻿@model RailwwayDB.Models.Stations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.station_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.station_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platforms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platforms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.station_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
