﻿@model IEnumerable<RailwwayDB.Models.Stations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.station_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.platforms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.station_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.platforms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.station_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.station_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.station_id })
        </td>
    </tr>
}

</table>
