﻿@model RailwwayDB.Models.StationsInRoutes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StationsInRoutes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepatureDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepatureDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stations.station_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stations.station_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trains.train_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StationsInRoutes_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
