﻿@model IEnumerable<RailwwayDB.Models.StationsInRoutes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepatureDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stations.station_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepatureDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stations.station_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trains.train_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StationsInRoutes_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.StationsInRoutes_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StationsInRoutes_id })
        </td>
    </tr>
}

</table>
