﻿@model RailwwayDB.Models.Passengers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passengers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.passengers_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
