﻿@model RailwwayDB.Models.Wagons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wagons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trains.train_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wagon_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
