﻿@model IEnumerable<RailwwayDB.Models.Wagons>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trains.train_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trains.train_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.wagon_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.wagon_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.wagon_id })
        </td>
    </tr>
}

</table>
