﻿@model RailwwayDB.Models.Payments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transaction_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaction_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transaction_datatime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaction_datatime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.payments_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
