﻿@model IEnumerable<RailwwayDB.Models.Payments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaction_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaction_datatime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaction_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaction_datatime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.payments_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.payments_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.payments_id })
        </td>
    </tr>
}

</table>
