﻿@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Курсова робота</h1>
        <p class="lead">Студентки 2 курсу групи ІСТ-22-1 — База даних залізничного вокзалу</p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Trains">Trains &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Wagons">Wagons &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Tickets">Tickets &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/StationsInRoutes">StationsInRoutes &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Stations">Stations &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Routes">Routes &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Payments">Payments &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Passengers">Passengers &raquo;</a></p>
        <p><a class="btn btn-outline-dark" href="https://localhost:44394/Employees">Employees &raquo;</a></p>
    </section>

</main>