﻿@model RailwwayDB.Models.Trains

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trains</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.train_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.train_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departure_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Routes.route_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routes.route_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.train_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
