﻿@model IEnumerable<RailwwayDB.Models.Trains>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.train_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departure_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrival_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Routes.route_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.train_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departure_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Routes.route_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.train_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.train_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.train_id })
        </td>
    </tr>
}

</table>
